/* Trailer
----------*/

div#trailer {
  margin:0;
  padding:0 0 3.0303% 0;
  line-height:20px;
  font-size:16px;
}

/* Footer
----------*/

div#footer {
  margin:0;
  padding:2.0202% 0;
  line-height:20px;
  font-size:14px;
  color:#fff;
  background:#fff/*#383c4d*/;
}

div#footer a {
  color:#fff;
}
div#footer a:hover {
  color:#df5289;
}

div#footer p,
div#footer ol,
div#footer ul {
  margin:0;
  padding:0;
  line-height:16px;
}