/* Header
----------*/

div#header {
  max-width:1200px;
  width:100%;
  z-index:200;
  padding:3.2255% 0;
  margin:0;
  background:#fff;
}

a#logo {
  display:block;
  text-align:center;
}
a#logo img {
  max-width:80px;
}

div#block-system-main-menu {
  float:left;
  margin:0;
  padding:0 3.0303%;
}
div#block-system-main-menu h2 {
	display:none;
}
div#block-system-main-menu ul {
  margin:0;
  padding:0;
  line-height:40px;
  font-size:20px;
  text-transform:uppercase;
}
div#block-system-main-menu ul li {
  float:left;
  margin:0;
  padding:0;
  list-style:none;
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  transition:all 0.25s ease-in-out;
}
div#block-system-main-menu ul li.last {
  margin-right:0;
}
div#block-system-main-menu ul li a {
  float:left;
  padding:0;
  color:#383c4e;
}
div#block-system-main-menu ul li.active-trail a {
  color:#eb6C9a;
}
div#block-system-main-menu ul li a:hover {
  color:#df5289;
}
div#block-system-main-menu ul li ul {
	display:none;
}