/* Main
--------*/

div#main {
  padding:0 0 3.0303% 0;
  background:#fff;
}

/* Banner */

div#banner {
  margin:0 auto;
  background:#fff;
}

/* Content */

div#content {
  min-height:400px;
}

div.field {
  margin:5px 0 15px 0;
  line-height:20px;
}

div.field-name-field-user1-password div.field-item {
  word-wrap:break-word;
  word-break:break-all;
}

body.node-type-client div.block-views div.views-row div.views-field {
  clear:both;
  padding:6px 0;
}
body.node-type-client div.node-client div.field-label,
body.node-type-client div.block-views div.views-row div.views-field span.views-label {
  display:block;
  float:left;
  clear:left;
  width:30%;
  max-width:220px;
}
body.node-type-client div.node-client div.field-item,
body.node-type-client div.block-views div.views-row div.views-field div.field-content,
body.node-type-client div.block-views div.views-row div.views-field span.field-content {
  display:block;
  margin-left:30%;
  width:70%;
}

/* Menu */

div#menu div.block-finder {
  padding:20px;
  background:#f5f5f5;
}
div#menu div.block-finder div.view-content h3 {
  margin:6px 0;
}
div#menu div.block-finder div.view-content strong {
  word-wrap:break-word;
  word-break:break-all;  
}

/* Aside */

div#aside {
  min-height:40px;
}
div#aside div.region-aside {
  width:210px;
}
div#aside div.block {
  margin:0 0 30px 0;
  padding:0 15px 15px 15px;
  background:#f3f3f3;
}
div#aside div.block h2 {
  position:relative;
  top:-15px;
  margin:0;
  padding:0;
  line-height:30px;
  font-size:24px;
  font-family:'lobster','Times New Roman',Times,serif;
  font-weight:normal;
  text-align:center;
  color:#383c4e;
  background:url('../images/icon-aside-block-x1.png') no-repeat top center;
}
div#aside div.block h2 span {
  display:block;
  padding:35px 0 0 0;
}

div#block-search-form form.search-form {
  margin-bottom:0;
}
div#block-search-form form.search-form input[type="submit"] {
  margin-top:10px;
  width:23px;
  height:23px;
  text-indent:-999em;
}
div#block-search-form form.search-form div.form-item:after {
  content:none;
  clear:none;
}

/* Taxonomy */

body.page-taxonomy-term div#content h3 {
  margin:18px 0 12px 0;
  padding:1% 2%;
  background:#f2f2f2;
}
body.page-taxonomy-term div#content div.views-row h3 {
  margin:0 0 6px 0;
  padding:0;
  background:transparent;
}
body.page-taxonomy-term div#content img {
  max-width:30%;
}

/* Search */

body.search-page form.search-form {
}
form.search-form div#edit-basic {
  border-bottom:1px solid #e5e5e5;
  padding:0 0 3.0303% 0;
}
form.search-form div#edit-basic input.form-text {
  padding:10px 3px;
}
form.search-form div#edit-basic div.form-item:after {
   clear:none;
   content:none;
}