/* Responsive
--------------*/

@media (min-width:481px) and (max-width:965px) {
	
body.node-type-webform form#webform-client-form-127	
	
div#trailer div.block-webform div.webform-component input.form-text, 
div#trailer div.block-webform div.webform-component div.form-radios, 
div#trailer div.block-webform div.webform-component div.form-checkboxes,
body.node-type-webform form#webform-client-form-127 div.webform-component input.form-text, 
body.node-type-webform form#webform-client-form-127 div.webform-component div.form-radios, 
body.node-type-webform form#webform-client-form-127 div.webform-component div.form-checkboxes {
  float:left;
  width:100%;
}

div#trailer div.block-webform div.webform-component,
body.node-type-webform form#webform-client-form-127 div.webform-component {
  padding:3.2258% 0;
}

div#trailer div.block-webform div.form-item label,
body.node-type-webform form#webform-client-form-127 div.form-item label {
  width:100%;
  text-align:center;
  float:none;
  padding-bottom:0;
}

html.js div#trailer div#edit-submitted-which-services-are-you-most-interested-in div.form-item,
html.js body.node-type-webform form#webform-client-form-127 div#edit-submitted-which-services-are-you-most-interested-in div.form-item {
  float:left;
  width:16.6667%;
  text-align:center;
}
html.js div#trailer div#edit-submitted-which-services-are-you-most-interested-in div.form-item input.form-checkbox,
html.js body.node-type-webform form#webform-client-form-127 div#edit-submitted-which-services-are-you-most-interested-in div.form-item input.form-checkbox {
  position:relative;
  left:0;
}
html.js div#trailer div#edit-submitted-which-services-are-you-most-interested-in div.form-item label.option,
html.js div#trailer div#webform-component-how-did-you-hear-about-us div.form-item label.option,
html.js div#trailer div#webform-component-how-large-is-your-budget div.form-item label.option,
html.js div#trailer div#webform-component-how-should-we-contact-you div.form-item label.option,
html.js body.node-type-webform form#webform-client-form-127 div#edit-submitted-which-services-are-you-most-interested-in div.form-item label.option,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-did-you-hear-about-us div.form-item label.option,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-large-is-your-budget div.form-item label.option,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-should-we-contact-you div.form-item label.option {
  display:block;
  height:auto;
  margin:0 1px!important;
  padding:10px 0!important;
  text-align:center!important;
  font-size:18px!important;
  color:#fff;
  background:#599dd2!important;
}
html.js div#trailer div#edit-submitted-which-services-are-you-most-interested-in div.form-item label.option.selected,
html.js div#trailer div#edit-submitted-which-services-are-you-most-interested-in div.form-item label.option:hover,
html.js div#trailer div#webform-component-how-did-you-hear-about-us div.form-item label.option.selected,
html.js div#trailer div#webform-component-how-did-you-hear-about-us div.form-item label.option:hover,
html.js div#trailer div#webform-component-how-large-is-your-budget div.form-item label.option.selected,
html.js div#trailer div#webform-component-how-large-is-your-budget div.form-item label.option:hover,
html.js div#trailer div#webform-component-how-should-we-contact-you div.form-item label.option.selected,
html.js div#trailer div#webform-component-how-should-we-contact-you div.form-item label.option:hover,
html.js body.node-type-webform form#webform-client-form-127 div#edit-submitted-which-services-are-you-most-interested-in div.form-item label.option.selected,
html.js body.node-type-webform form#webform-client-form-127 div#edit-submitted-which-services-are-you-most-interested-in div.form-item label.option:hover,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-did-you-hear-about-us div.form-item label.option.selected,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-did-you-hear-about-us div.form-item label.option:hover,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-large-is-your-budget div.form-item label.option.selected,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-large-is-your-budget div.form-item label.option:hover,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-should-we-contact-you div.form-item label.option.selected,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-should-we-contact-you div.form-item label.option:hover {
  background-image:none;
  background-color:#eb6c9a!important;
}

/* How large is your budget */

html.js div#trailer div#webform-component-how-large-is-your-budget div.form-item,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-large-is-your-budget div.form-item {
	float:left;
	width:16.6667%;
	text-align:center;
}
html.js div#trailer div#webform-component-how-large-is-your-budget div.form-item input.form-radio,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-large-is-your-budget div.form-item input.form-radio {
	position:relative;
	left:0;
}
html.js div#trailer div#webform-component-how-large-is-your-budget div.form-item label.option,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-large-is-your-budget div.form-item label.option {
	padding-top:0;
    font-family:'Raleway', Arial, sans-serif;
	text-indent:0;
}
html.js div#trailer div#webform-component-how-large-is-your-budget div.form-item label.option.selected,
html.js div#trailer div#webform-component-how-large-is-your-budget div.form-item label.option:hover,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-large-is-your-budget div.form-item label.option.selected,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-large-is-your-budget div.form-item label.option:hover {
  text-indent:0;
}

/* Where did you hear about us */

html.js div#trailer div#webform-component-how-did-you-hear-about-us div.form-item,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-did-you-hear-about-us div.form-item {
  float:left;
  width:20%;
  text-align:center;
}
html.js div#trailer div#webform-component-how-did-you-hear-about-us div.form-item input.form-radio,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-did-you-hear-about-us div.form-item input.form-radio {
  position:relative;
  left:0;
}
html.js div#trailer div#webform-component-how-did-you-hear-about-us div.form-item label.option,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-did-you-hear-about-us div.form-item label.option {
	min-height:0;
	padding:0;
    font-family:'Raleway', Arial, sans-serif;
	text-indent:0;
}
html.js div#trailer div#webform-component-how-did-you-hear-about-us div.form-item label,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-did-you-hear-about-us div.form-item label {
  background-image:none;
  background-color:#599dd2;
}
html.js div#trailer div#webform-component-how-did-you-hear-about-us div.form-item label.selected,
html.js div#trailer div#webform-component-how-did-you-hear-about-us div.form-item label:hover,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-did-you-hear-about-us div.form-item label.selected,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-did-you-hear-about-us div.form-item label:hover {
}

/* How should we contact you */

div#trailer div#webform-component-how-should-we-contact-you,
body.node-type-webform form#webform-client-form-127 div#webform-component-how-should-we-contact-you {
  display:none;
}
html.js div#trailer div#webform-component-how-should-we-contact-you,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-should-we-contact-you {
  padding-bottom:0;
}
html.js div#trailer div#webform-component-how-should-we-contact-you div.form-item,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-should-we-contact-you div.form-item {
  float:left;
  width:20%;
  text-align:center;
}
html.js div#trailer div#webform-component-how-should-we-contact-you div.form-item input.form-radio,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-should-we-contact-you div.form-item input.form-radio {
  position:relative;
  left:0;
}
html.js div#trailer div#webform-component-how-should-we-contact-you div.form-item label.option,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-should-we-contact-you div.form-item label.option {
	min-height:0;
	padding-top:0;
    font-family:'Raleway', Arial, sans-serif;
	text-indent:0;;
}
html.js div#trailer div#webform-component-how-should-we-contact-you div.form-item label.option.selected,
html.js div#trailer div#webform-component-how-should-we-contact-you div.form-item label.option:hover,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-should-we-contact-you div.form-item label.option.selected,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-how-should-we-contact-you div.form-item label.option:hover {
	text-indent:0;
}

div#trailer div#webform-component-email-address,
div#trailer div#webform-component-phone-number,
body.node-type-webform form#webform-client-form-127 div#webform-component-email-address,
body.node-type-webform form#webform-client-form-127 div#webform-component-phone-number {
  border-bottom:0;
  box-shadow:none;
}
html.js div#trailer div#webform-component-email-address,
html.js div#trailer div#webform-component-phone-number,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-email-address,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-phone-number {
  padding:0;
  height:0;
}
html.js div#trailer div#webform-component-phone-number input[type="text"],
html.js div#trailer div#webform-component-email-address input[type="email"],
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-phone-number input[type="text"],
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-email-address input[type="email"] {
  position:relative;
  bottom:105px;
  right:0;
  width:90%;
  margin:0 5%;
}

/* Whats your name */

html.js div#trailer div#webform-component-most-importantly-whats-your-name input.form-text,
html.js body.node-type-webform form#webform-client-form-127 div#webform-component-most-importantly-whats-your-name input.form-text {
  width:90%;
  margin:0 5%;
}

}

@media (min-width:801px) {

/* Header */

div#header {
  padding:20px 0;
}

div#block-system-main-menu ul li {
  margin-right:30px;
}
div#block-menu-menu-top-menu ul li {
  margin-right:20px;
}

/* Main */

body.node-type-service div.view-banner div.views-row div.views-field-field-banner-text {
  padding:0 0 14px 0;
  background:url('../images/rule-star-white-x2.png') no-repeat center bottom;
  -webkit-background-size:50%;
  -moz-background-size:50%;
  -ms-background-size:50%;
  -o-background-size:50%;
  background-size:50%;
}

}

@media (min-width:481px) and (max-width:610px) {

div#block-system-main-menu {
  padding-right:0;
}
div#block-system-main-menu ul {
  font-size:14px;
}
div#block-system-main-menu ul li,
div#block-menu-menu-top-menu ul li {
  margin-right:10px;
}

/* Banner */

div.view-banner div.views-row div.views-field-field-banner-text h2 {
  display:none;
}

}

@media (min-width:481px) and (max-width:800px) {

/* Layout */

div#menu {
  width:30%;
  margin:0 0 0 2.5%;
}

div#content {
  width:62.5%;
  margin:0 2.5%;
}
div.menu div#content,
div.aside div#content,
div.menu-split div#content,
div.menu-triple div#content,
div.aside-split div#content,
div.aside-triple div#content,
div.full div#content,
div.full-split div#content,
div.full-triple div#content {
  width:95%;
}

div#block-views-services-block div.view-services div.views-row div.views-field-field-featured-image img {
  height:100%;
  width:100%;
}

/* Header */

div#logo a span.text {
	display:none;
}
div#block-system-main-menu ul li,
div#block-menu-menu-top-menu ul li {
  margin-right:10px;
}

/* Footer */

div#block-block-17 {
  float:left;
  clear:left;
}

/* Banner */

div.view-banner div.views-row div.views-field-field-banner-text div.field-content {
  margin:0 5%;
}
div.views-row div.views-field-field-banner-text h2 {
  font-size:20px;
  line-height:24px;
}

/* Jobs */

div#banner div#block-block-18 div.send-cv {
  padding:3.0303% 5%;
  font-size:26px;
  line-height:32px;
}

div#block-system-main div#node-7 div.field-name-body p.intro {
  font-size:36px;
  line-height:40px;
}

div#block-views-jobs-block div.views-row {
  float:none;
  width:auto;
  margin-right:0;
  min-height:0;
}


/* Blog */

div.breakout-cta span.title {
  background-size:15% auto;
  padding:0 70px 0 90px;
}

div#block-block-3 div.col-left,
div#block-block-3 div.col-right {
  width:auto;
  float:none;
  clear:none;	
  margin:0 5%;
}

}

@media (max-width:480px) {

h2 {
  font-size:26px;
  line-height:30px;
}

blockquote {
  font-size:18px;
  line-height:24px;
}

blockquote.client {
  padding:5% 5% 5% 75px;
  background-size:40px auto;
}

iframe {
  width:100%!important;
  height:auto;
}

/* Layout */

div#main {
  padding:0;
}

body.node-type-portfolio {
  padding-bottom:60px;
}

div#menu {
  float:none;
  width:90%;
  margin:0 5% 5% 5%;
}

div#aside {
  float:left;
  width:90%;
  margin:10% 5% 5% 5%;
  clear:both;
}
div#aside div.region-aside {
  width:auto;
}

div.view-signposts div.views-row div.form, 
div.view-signposts div.views-row div.signpost {
  min-height:0;
}

body.node-type-job div#aside div#block-block-1,
body.node-type-blog-post div#block-views-about_the_author-block {
  position:relative;
  width:auto;
  margin:0;
}

div#content,
div.menu div#content,
div.aside div#content,
div.menu-split div#content,
div.menu-triple div#content,
div.aside-split div#content,
div.aside-triple div#content,
div.full div#content,
div.full-split div#content,
div.full-triple div#content {
  width:90%;
  margin:0 5%;
  float:none;
}

/* Header */

div#header {
  padding:0;
  background:#fff;
  border-bottom:1px solid #ccc;
}

div#block-block-2 {
  margin:10px;
}
div#logo a span.text {
	display:none;
}

div#block-system-main-menu,
div#block-menu-menu-top-menu {
  float:left;
  clear:left;
  padding:0;
  width:100%;
}

div#block-system-main-menu ul,
div#block-menu-menu-top-menu ul {
  font-size:18px;
  line-height:20px;
  display:none;
}
div#block-system-main-menu ul li,
div#block-menu-menu-top-menu ul li,
div#block-system-main-menu ul li a,
div#block-menu-menu-top-menu ul li a {
  width:100%;
  display:block;
  margin:0;
}
div#block-system-main-menu ul li a,
div#block-menu-menu-top-menu ul li a {
  padding:10px;
}
div#block-system-main-menu ul li a:hover,
div#block-menu-menu-top-menu ul li a:hover {
  background:#ccc;
}
div#block-system-main-menu ul li.active a,
div#block-menu-menu-top-menu ul li.active a {
  background:#383c4e;
  color:#fff;
}

div#block-block-15 {
  display:block;
}
div#block-block-15 div.mobile-button:hover {
  background:none;
}


/* Banner */

div.view-banner div.views-row div.views-field-field-banner-text div.field-content {
  margin:0;
}
div.view-banner div.views-row div.views-field-field-banner-text h2 {
  display:none;
}
body.node-type-service div.view-banner div.views-row div.views-field-field-banner-text h1,
div.view-banner div.views-row div.views-field-field-banner-text h1 {
  font-size:24px;
  line-height:28px;
}

div.view-banner div.views-row div.views-field-field-banner-image {
  padding-top:60px;
}
div.view-banner div.views-row div.views-field-field-banner-image img {
  min-height:195px;
  width:530px;
  overflow:hidden;
}

div#banner div#block-block-18 div.send-cv {
  padding:5%;
  font-size:24px;
  line-height:30px;
  text-align:center;
}
div#banner div#block-block-18 div.send-cv span.icon {
  width:20%;
  float:none;
  margin:0 auto;
}

/* Home */

body.front div.views-row {
  float:none;
  clear:none;
  width:auto;
}

body.front div#block-views-blog-homepage {
  margin:0 5%;
}

body.front div#block-views-portfolio-home h2, 
div#block-views-portfolio-two_random h2 {
  font-size:32px;
  line-height:36px;
}

body.front div.view-banner div.views-row div.views-field-field-banner-text h1 {
  border-bottom:0;
  padding:0;
}

/* Work */

div.field-name-field-deck {
  font-size:20px;
  line-height:24px;
}

/* Services */

div#block-views-services-block {
  background:none;
}
div#block-views-services-block div.view-services div.views-row {
  min-height:0;
  float:none;
  width:auto;
  margin:5% 0;
}
div.deck-intro {
  margin:5% 0;
  padding:0;
  text-align:left;
  background:none;
}

div.columns div.column {
  float:none;
  width:auto;
  margin:0;
}

div.columns.image-anchor div.image p,
div.columns p.image {
  text-align:center;
  position:relative;
}
div.columns p.image img {
  width:50%!important;
  height:auto!important;
}

div.columns.image-anchor div.image p img {
  width:80%;
}

div.columns div.column.image p {
  text-align:center;
}
div.columns div.column p img,
div.columns.image-anchor div.image.web p img {
  width:50%;
}

/* Portfolio Blocks */

div.view-portfolio-matrix-split div.view-content div.views-row-odd,
div.view-portfolio-matrix-split div.view-content div.views-row-even {
  clear:none;
  float:none;
}
div.view-portfolio-matrix-split div.view-content div.views-row {
  width:auto;
}
div.view-portfolio-matrix-split div.view-content div.views-row span.service {
  display:none;
}
div.view-portfolio-matrix div.view-content div.views-row a span.title {
  font-size:20px;
  line-height:24px;
}

div#block-views-jobs-block div.views-row {
  width:auto;
  float:none;
  margin:0 0 5% 0;
  padding:5%;
  min-height:0;
}

div.view-signposts div.view-content div.views-row {
  width:100%;
  float:none;
}

/* About */

div#block-views-meet_the_team-block div.views-row {
  float:left;
  margin:0 3.2255% 20px 0;
  width:46.777%;
  min-height:675px;
  font-size:14px;
}
div#block-views-meet_the_team-block div.views-row-even {
  margin-right:0;
}

div#block-views-meet_the_team-block div.views-row div.box {
  padding:20px 0;
}
div#block-views-meet_the_team-block div.views-row div.views-field-field-job-tile {
  min-height:40px;
}

/* Jobs */
div#block-system-main div#node-7 div.field-name-body p.intro {
  line-height:38px;
  font-size:30px;	
}

/* Blog */

div#block-views-blog-secondary div.views-row {
 float:none;
 width:auto;
}
div#block-views-blog-secondary div.views-row-odd {
  padding-right:0;
}

div#block-views-blog-main div.views-field-field-square-pic {
  display:none;
}

body.node-type-blog-post div.field-name-field-featured-image {
  float:none;
  margin-right:0;
  text-align:center;
}

div#block-block-13 form div.form-item,
div#block-block-13 form div#webform-component-message,
div#block-block-13 form div.form-actions {
  float:none;
  width:auto;
  padding:0;
  margin-bottom:10px;
}
div#block-block-13 form div.form-actions {
  margin:0;
}

div.breakout-cta a {
  font-size:20px;
  line-height:24px;
}
div.breakout-cta span.title {
  background:none!important;
  padding:0 60px 0 0;
}

/* Recommended Content */

div#block-views-recommended_content_temp_-block div.views-row {
  float:none;
  width:auto;
  margin:0 0 5% 0;
}
div#block-views-recommended_content_temp_-block div.views-row div.views-field-field-featured-image img {
  width:50%;
}

/* Contact Page */

body.page-node-6 div#block-views-banner-block div.view-banner div.title {
  display:none;
}

div#block-views-banner-block div.view-banner div.telephone {
  margin:0;
  font-size:32px;
  line-height:36px;
}

div#content div.block {
  margin:0;
}

div#contact-page form.contact-form div.col {
  float:none;
  width:auto;
  margin-right:0;
}
div#contact-page form.contact-form div.col div.form-item input,
div#contact-page form.contact-form div.col div.form-item textarea {
  margin-bottom:10px;
}

div#contact-page div.google-map div.office {
  position:inherit;
  top:0;
  left:0;
  padding:30px 0 0 0;
}

/* Trailer */

div#trailer h2 span {
  background-size:90% auto;
}

body.front div#block-views-blog-homepage div.view-blog div.views-row {
  width:auto;
  float:none;
}
body.front div#block-views-blog-homepage div.view-blog div.views-row-odd {
  padding:0;
}

div#block-block-3 div.col-left,
div#block-block-3 div.col-right {
  width:auto;
  float:none;
  clear:none;	
  margin:0 5%;
}
div#block-block-3 div.col-left span.phone {
  font-size:36px;
  line-height:40px;
}
div#block-block-3 div.col-left span.email,
div#block-block-3 div.col-right span.address {
  font-size:16px;
  line-height:22px;
}

body.page-node-2 div#trailer {
  display:none;
}

/* Footer */

div#footer {
  padding:5% 0;
}
div#block-block-4,
div#block-block-5,
div#block-block-17,
div#block-menu_block-1 {
  float:left;
  clear:both;
  width:auto;
  margin:0 5% 10px 5%;
}

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  div.node-portfolio div.field-name-field-portfolio-images img {
    width:80%;
  }
}


/* Hi-res backgrounds */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {

div#logo a span.icon {
  background-image:url('../logo-x2.png');
  background-size:40px 40px;
}
div#logo a:hover span.icon {
  background-image:url('../logo-hover-x2.png');
  background-size:40px 40px;
}

ul.checkllist li {
  background-image:url('../images/icon-checklist-tick-x2.png');
  background-size:30px 30px;
}

blockquote.client { 
  background-image:url('../images/icon-blockquote-client-x2.png');
}

div#contact-page div.google-map div.office div.box.directions a {
  background-image:url('../images/icon-contact-directions-x2.png');
  background-size:30px 30px;
}
div#contact-page div.google-map div.office div.box.public a {
  background-image:url('../images/icon-contact-public-x2.png');
  background-size:30px 30px;
}

div.view-signposts div.views-row div.signpost a,
div.breakout-cta a {
  background-image:url('../images/icon-signpost-arrow-white-right-x2.png');
  background-size:25px 43px;
}

/*div.breakout-cta span.title {
  background-image:url('../images/icon-blog-cta-x2.png');
  background-size:95px 75px;
}*/

}