/* Responsive
--------------*/

@media (min-width:481px) and (max-width:800px) {

/* Layout */

div#menu {
  width:30%;
  margin:0 0 0 2.5%;
}

div#content {
  width:62.5%;
  margin:0 2.5%;
}
div.menu div#content,
div.aside div#content,
div.menu-split div#content,
div.menu-triple div#content,
div.aside-split div#content,
div.aside-triple div#content,
div.full div#content,
div.full-split div#content,
div.full-triple div#content {
  width:95%;
}

}

@media (max-width:480px) {
	
h1 {
  font-size:26px;
  line-height:30px;
}
h2 {
  font-size:24px;
  line-height:30px;
}
h3 {
  font-size:22px;
  line-height:30px;
}

a#logo img {
  width:15%;
}

/* Layout */

div#menu {
  float:none;
  width:90%;
  margin:0 5% 5% 5%;
}

div#aside {
  float:left;
  width:90%;
  margin:10% 5% 5% 5%;
  clear:both;
}

div#content,
div.menu div#content,
div.aside div#content,
div.menu-split div#content,
div.menu-triple div#content,
div.aside-split div#content,
div.aside-triple div#content,
div.full div#content,
div.full-split div#content,
div.full-triple div#content {
  width:90%;
  margin:0 5%;
  float:none;
}

body.node-type-client div.node-client div.field-label,
body.node-type-client div.node-client div.field-item,
body.node-type-client div.block-views div.views-row div.views-field span.views-label,
body.node-type-client div.block-views div.views-row div.views-field div.field-content,
body.node-type-client div.block-views div.views-row div.views-field span.field-content {
  float:none;
  width:auto;
  max-width:none;
  margin:0;
}
body.node-type-client div.node-client div.field-label,
body.node-type-client div.block-views div.views-row div.views-field span.views-label {
  padding:0 0 6px 0;	
}

/* Footer */

div#footer {
  padding:5% 0;
}
div#footer div.block {
  float:left;
  clear:both;
  width:auto;
  margin:0 5% 10px 5%;
}

}

/* Hi-res backgrounds */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {

}