/* Main
--------*/

div#main {
  padding:3.0303% 0;
  background:#fff;
}

/* Home */

body.front h1.title {
  display:none;
}
body.front div.view-banner div.views-row div.views-field-field-banner-text {
  color:#fff;
}
body.front div.view-banner div.views-row div.views-field-field-banner-text h1 {
  padding:0 0 20px 0;
}
body.front div.field-name-body span.content {
  width:48%;
  display:block;
  padding-top:6.0606%;
}
body.front div.field-name-body div.image {
  width:48%;
  float:right;
}
body.front div.node-page div.field-name-body span.content p {
  font-size:24px;
  line-height:30px;
  color:#777;
}

body.front div#block-system-main {
  margin:0 0 30px 0;
}

body.front div#block-views-portfolio-home {
  padding:0 0 6.0606% 0;
}
body.front div#block-views-portfolio-home h2,
div#block-views-portfolio-two_random h2 {
  margin:0;
  padding:0 0 6.0606% 0;
  font-size:48px;
  line-height:54px;
  text-align:center;
}

body.front div#block-views-blog-homepage {
  margin:0 3.0303%;
}
body.front div#block-views-blog-homepage div.view-blog div.views-row {
  width:45%;
  float:left;
  font-size:24px;
  line-height:30px;
}
body.front div#block-views-blog-homepage div.view-blog div.views-row-odd {
  padding:0 10% 0 0;
}

body.front div#block-views-blog-homepage div.view-blog div.views-row div.views-field-name {
  padding:0 0 5px 0;
  margin:0 0 20px 0;
  font-size:16px;
  line-height:20px;
  border-bottom:1px solid #242832;
  -webkit-box-shadow:0 1px 0 #606371;
  -moz-box-shadow:0 1px 0 #606371;
  box-shadow:0 1px 0 #606371;
}

body.front div#block-views-blog-homepage div.view-blog div.views-row a {
  display:block;
  color:#fff;
}
body.front div#block-views-blog-homepage div.view-blog div.views-row a span.title {
  font-size:22px;
  font-weight:normal;
  display:block;
}
body.front div#block-views-blog-homepage div.view-blog div.views-row span.image {
  padding:0 0 0 30px;
  float:right;
  display:block;
}
body.front div#block-views-blog-homepage div.view-blog div.views-row span.image img {
  padding:10%;
  background:#fff;
}
body.front div#block-views-blog-homepage div.view-blog div.views-row a:hover {
  color:#599dd2;
}

/* Banner */

div#banner {
	min-height:80px;
  margin: 0 auto;
	background:#fff;
}

div.view-banner div.views-row {
	position:relative;
	margin:0;
}
div.view-banner div.views-row div.views-field-field-banner-image {
	opacity:0.5;
}
div.view-banner div.views-row div.views-field-field-banner-image img {
	display:block;
}
div.view-banner div.views-row div.views-field-field-banner-tint div.tint {
	position:absolute;
	left:0;
	top:0;
	z-index:40;
	width:100%;
	height:100%;
}
div.view-banner div.views-row div.views-field-field-banner-tint div.blue {
	background:#4a8cc7;
	opacity:0.75;
}
div.view-banner div.views-row div.views-field-field-banner-tint div.pink {
	background:#eb6c9a;
	opacity:0.75;
}
div.view-banner div.views-row div.views-field-field-banner-tint div.green {
	background:#76c9a9;
	opacity:0.75;
}
div.view-banner div.views-row div.views-field-field-banner-tint div.dark_grey {
	background:#383C4D;
	opacity:0.75;
}
div.view-banner div.views-row div.views-field-field-banner-tint div.white_radial {
	background:url('../images/banner-white_radial.png') no-repeat center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -ms-background-size:cover;
  -o-background-size:cover;
	background-size:cover;
}
div.view-banner div.views-row div.views-field-field-banner-tint div.pixellate {
	position:absolute;
	left:0;
	top:0;
	z-index:80;
	width:100%;
	height:100%;
	background:url('../images/banner-pixellate.png') repeat center center;
	opacity:0.08;
}
div.view-banner div.views-row div.views-field-field-banner-text {
	position:absolute;
	z-index:120;
	top:/*33.3333%*/28.2828%;
	width:100%;
	text-align:center;
}
div.view-banner div.views-row div.views-field-field-banner-text div.field-content {
	margin:0 20%;
}

div.view-deck div.views-row {
	position:relative;
	margin:0;
}
div.view-deck div.views-row div.views-field-field-deck {
	color:#fff;
}
div.view-deck div.views-row div.views-field-field-deck div.blue {
	background:#4a8cc7;
}
div.view-deck div.views-row div.views-field-field-deck div.pink {
	background:#eb6c9a;
}
div.view-deck div.views-row div.views-field-field-deck div.green {
	background:#76c9a9;
}
div.view-deck div.views-row div.views-field-field-deck div.dark_grey {
	background:#383C4D;
}

div#banner div#block-block-18 div.send-cv {
  padding:6% 15%;
  font-size:32px;
  line-height:38px;
  background:#d85080;
  color:#fff;
}
div#banner div#block-block-18 div.send-cv span.icon {
  display:block;
  float:left;
  margin:0 6.0606% 0 0;
}
div#banner div#block-block-18 div.send-cv a {
  text-decoration:underline;
  font-weight:700;
  color:#fff;
}
div#banner div#block-block-18 div.send-cv a:hover {
  text-decoration:none;
}


/* Content */

div#content {
  min-height:400px;
}

div.field {
  margin:5px 0 15px 0;
  line-height:20px;
}
div.field-name-field-deck {
  margin:0 0 20px 0;
  line-height:36px;
  font-size:30px;
}
div.field-name-body {
	margin:5px 0 30px 0;
}

div#content div.block {
  margin:0 0 30px 0;
  clear:both;
}

div.comment {
  margin:0 0 20px 0;
}
div.comment span.submitted {
  display:block;
  margin:0 0 5px 0;
  padding:4px 10px;
  text-align:right;
  font-size:0.9em;
  color:#888;
  background:#eee;
}
div.comment h3 {
  display:none;
}

ul.links {
  margin-top:6px;
  margin-bottom:6px;
  line-height:18px;
  font-size:14px;
}


/* Signposts */

html.js div#block-views-signposts-block {
  opacity:0;
  position:relative;
}

div.view-signposts div.view-content {
	min-height:1%;
}
* html div.view-signposts div.view-content {
  height:1%;
}
div.view-signposts div.view-content:after {
  content:'.';
  display:block;
  clear:both;
  height:0;
  visibility:hidden;
}
div.view-signposts div.view-content div.views-row {
	width:48.3871%;
	margin:0 0 3.2258% 0;
}
div.view-signposts div.view-content div.views-row-odd {
	clear:both;
	float:left;
}
div.view-signposts div.view-content div.views-row-even {
	float:right;
}



/* Services */

body.page-node-2 div.view-banner div.views-row div.views-field-field-banner-text {
  color:#fff;
}

html.js div#block-views-services-block {
  opacity:0;
}
div#block-views-services-block {
  padding:0 0 6.0606% 0;
  position:relative;
  background:url('../images/back-content-divider-x1.png') no-repeat bottom center;
}
div#block-views-services-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

div#block-views-services-block div.view-services div.views-row {
  float:left;
  width:31.1%;
  min-height:324px;
  margin:0 3.0303% 3.0303% 0;
  padding:3.0303% 0;
  text-align:center;
  background:#eef0f8;
}
div#block-views-services-block div.view-services div.views-row-3,
div#block-views-services-block div.view-services div.views-row-6 {
  margin-right:0;
}

div#block-views-services-block div.view-services div.views-row div.views-field {
  padding:0 6.0606%;
}
div#block-views-services-block div.view-services div.views-row div.views-field-title a {
  min-height:56px;
  line-height:26px;
  font-size:22px;
}
div#block-views-services-block div.view-services div.views-row div.views-field-title a:hover,
div#block-views-services-block div.view-services div.views-row div.views-field-view-node a:hover {
  color:#eb6c9a;
}

div#block-views-services-block div.view-services div.views-row div.views-field-view-node {
  padding-top:6.0606%;
}

body.node-type-service div.view-banner div.views-row div.views-field-field-banner-text {
	color:#fff;
}
body.node-type-service div.view-banner div.views-row div.views-field-field-banner-text div.flag {
	margin:0 0 1.5151% 0;
}
body.node-type-service div.view-banner div.views-row div.views-field-field-banner-text div.flag img {
	display:block;
	width:50%;
	margin:0 auto;
}
body.node-type-service div.view-banner div.views-row div.views-field-field-banner-text h1 {
  padding:0 0 1% 0;
  line-height:36px;
  font-family:'Raleway', Arial, sans-serif;
  font-size:30px;
  font-weight:700;
}

body.node-type-service div.node-service div.field-name-body div.row {
  padding:30px 0;	
  border-bottom:1px solid #dedfe9;
}
body.node-type-service div.node-service div.field-name-body div.row span.content,
body.node-type-service div.node-service div.field-name-body div.row span.image {
  display:block;
  width:50%;
}
body.node-type-service div.node-service div.field-name-body div.row-even span.content,
body.node-type-service div.node-service div.field-name-body div.row-odd span.image,
body.node-type-service div.node-service div.field-name-body div.row-odd span.image img {
  float:left;
}
body.node-type-service div.node-service div.field-name-body div.row-odd span.content,
body.node-type-service div.node-service div.field-name-body div.row-even span.image,
body.node-type-service div.node-service div.field-name-body div.row-even span.image img {
  float:right;
}


body.node-type-service div.node-service div.field-type-image {
  float:right;
}


/* Portfolio */
div.view-portfolio div.views-row a { 
  color:#fff;
}
div.view-portfolio div.views-row a span.image { 
  position:relative;
  overflow:hidden;
}
div.view-portfolio div.views-row a span.title,
div.view-portfolio div.views-row a span.image img {
  -webkit-transition:all 0.4s;
  -moz-transition:all 0.4s;
  -ms-transition:all 0.4s;
  -o-transition:all 0.4s;
  transition:all 0.4s;
}
div.view-portfolio div.views-row a:hover span.image img {   
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
}
div.view-portfolio div.views-row a span.overlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#eb6c9a;
  opacity:0;
  -webkit-transition:all 0.2s;
  -moz-transition:all 0.2s;	
  -ms-transition:all 0.2s;
  -o-transition:all 0.2s;
  transition:all 0.2s;
}
div.view-portfolio div.views-row a div.content {
  opacity:0;
}
div.view-portfolio div.views-row a:hover span.overlay {
  opacity:0.8;
}
div.view-portfolio div.views-row a:hover div.content {
  opacity:1;
}

div.view-portfolio-matrix {
}
div.view-portfolio-matrix div.view-content {
  min-height:1%;
}
* html div.view-portfolio-matrix div.view-content {
  height:1%;
}
div.view-portfolio-matrix div.view-content:after {
  content:'.';
  display:block;
  clear:both;
  height:0;
  visibility:hidden;
}
div.view-portfolio-matrix-split div.view-content div.views-row {
	width:48.3871%;
	margin:0 0 3.2258% 0;
}
div.view-portfolio-matrix-split div.view-content div.views-row-odd {
	clear:both;
	float:left;
}
div.view-portfolio-matrix-split div.view-content div.views-row-even {
	float:right;
}
div.view-portfolio-matrix-triple div.view-content div.views-row {
	width:31.1828%;
	margin:0 3.2258% 3.2258% 0;
}
div.view-portfolio-matrix-triple div.view-content div.views-row-1,
div.view-portfolio-matrix-triple div.view-content div.views-row-4,
div.view-portfolio-matrix-triple div.view-content div.views-row-7,
div.view-portfolio-matrix-triple div.view-content div.views-row-10,
div.view-portfolio-matrix-triple div.view-content div.views-row-13,
div.view-portfolio-matrix-triple div.view-content div.views-row-16,
div.view-portfolio-matrix-triple div.view-content div.views-row-19,
div.view-portfolio-matrix-triple div.view-content div.views-row-22,
div.view-portfolio-matrix-triple div.view-content div.views-row-25,
div.view-portfolio-matrix-triple div.view-content div.views-row-28,
div.view-portfolio-matrix-triple div.view-content div.views-row-31,
div.view-portfolio-matrix-triple div.view-content div.views-row-34,
div.view-portfolio-matrix-triple div.view-content div.views-row-37,
div.view-portfolio-matrix-triple div.view-content div.views-row-40,
div.view-portfolio-matrix-triple div.view-content div.views-row-43,
div.view-portfolio-matrix-triple div.view-content div.views-row-46,
div.view-portfolio-matrix-triple div.view-content div.views-row-49,
div.view-portfolio-matrix-triple div.view-content div.views-row-52,
div.view-portfolio-matrix-triple div.view-content div.views-row-55,
div.view-portfolio-matrix-triple div.view-content div.views-row-58 {
	clear:both;
	float:left;
}
div.view-portfolio-matrix-triple div.view-content div.views-row-2,
div.view-portfolio-matrix-triple div.view-content div.views-row-5,
div.view-portfolio-matrix-triple div.view-content div.views-row-8,
div.view-portfolio-matrix-triple div.view-content div.views-row-11,
div.view-portfolio-matrix-triple div.view-content div.views-row-14,
div.view-portfolio-matrix-triple div.view-content div.views-row-17,
div.view-portfolio-matrix-triple div.view-content div.views-row-20,
div.view-portfolio-matrix-triple div.view-content div.views-row-23,
div.view-portfolio-matrix-triple div.view-content div.views-row-26,
div.view-portfolio-matrix-triple div.view-content div.views-row-29,
div.view-portfolio-matrix-triple div.view-content div.views-row-32,
div.view-portfolio-matrix-triple div.view-content div.views-row-35,
div.view-portfolio-matrix-triple div.view-content div.views-row-38,
div.view-portfolio-matrix-triple div.view-content div.views-row-41,
div.view-portfolio-matrix-triple div.view-content div.views-row-44,
div.view-portfolio-matrix-triple div.view-content div.views-row-47,
div.view-portfolio-matrix-triple div.view-content div.views-row-50,
div.view-portfolio-matrix-triple div.view-content div.views-row-53,
div.view-portfolio-matrix-triple div.view-content div.views-row-56,
div.view-portfolio-matrix-triple div.view-content div.views-row-59 {
	float:left;
	margin-right:0;
}
div.view-portfolio-matrix-triple div.view-content div.views-row-3,
div.view-portfolio-matrix-triple div.view-content div.views-row-6,
div.view-portfolio-matrix-triple div.view-content div.views-row-9,
div.view-portfolio-matrix-triple div.view-content div.views-row-12,
div.view-portfolio-matrix-triple div.view-content div.views-row-15,
div.view-portfolio-matrix-triple div.view-content div.views-row-18,
div.view-portfolio-matrix-triple div.view-content div.views-row-21,
div.view-portfolio-matrix-triple div.view-content div.views-row-24,
div.view-portfolio-matrix-triple div.view-content div.views-row-27,
div.view-portfolio-matrix-triple div.view-content div.views-row-30,
div.view-portfolio-matrix-triple div.view-content div.views-row-33,
div.view-portfolio-matrix-triple div.view-content div.views-row-36,
div.view-portfolio-matrix-triple div.view-content div.views-row-39,
div.view-portfolio-matrix-triple div.view-content div.views-row-42,
div.view-portfolio-matrix-triple div.view-content div.views-row-45,
div.view-portfolio-matrix-triple div.view-content div.views-row-48,
div.view-portfolio-matrix-triple div.view-content div.views-row-51,
div.view-portfolio-matrix-triple div.view-content div.views-row-54,
div.view-portfolio-matrix-triple div.view-content div.views-row-57,
div.view-portfolio-matrix-triple div.view-content div.views-row-60 {
	float:right;
	margin-right:0;
}
div.view-portfolio-matrix div.view-content div.views-row a,
div.view-portfolio-matrix div.view-content div.views-row span,
div.view-portfolio-matrix div.view-content div.views-row img {
	display:block;
}
div.view-portfolio-matrix div.view-content div.views-row a {
	position:relative;
}
div.view-portfolio-matrix div.view-content div.views-row a span.title {
  position:absolute;
  left:0;
  top:10%;
  width:90%;
  line-height:28px;
  font-size:24px;
  font-weight:bold;
  text-align:center;
  padding:0 5%;
}
div.view-portfolio-matrix div.view-content div.views-row a span.service {
  position:absolute;
  left:0;
  bottom:10%;
  width:90%;
  margin:0 5%;
  padding:10px 0 0 0;
	line-height:18px;
	font-size:14px;
  text-align:center;
  color:#fff;
  border-top:1px solid #fff;
}
div.view-portfolio-matrix div.view-content div.views-row a span.white-text {
	color:#fff;
}
div.view-portfolio-matrix div.view-content div.views-row a span.image {
  border:1px solid #383c4d;
}

div.node-portfolio div.field-name-field-portfolio-images div.field {
  margin:0; 
}
div.node-portfolio div.field-name-field-portfolio-images img {
  margin:3.2255% 0;
  border:1px solid #000;
}


/* Portfolio page */

div.deck-intro {
  margin:0 12% 6.0606% 12%;
  padding:0 0 6.0606% 0;
  text-align:center;
  background:url('../images/back-content-divider-x1.png') no-repeat bottom center;
}

div.node-portfolio div.field-name-field-portfolio-images {
  text-align:center;
}

p.highlight {
  color:#eb6c9a;
  margin:3.0303% 0;
  font-weight:700;
}
p.highlight span {
  font-size:44px;
  line-height:46px;
  position:relative;
  top:5px;
}

div.columns {
  min-height:1%;
  margin:6.4516% /*3.2258%*/ 0;
  padding:0 /*0 3.2258% 0*/;
  border-bottom:1px solid #dedfe9;
  width:100%;
}
* html div.columns {
  height:1%;
}
div.columns:after {
  content:'.';
  display:block;
  clear:left;
  height:0;
  visibility:hidden;
}
div.columns div.column {
  float:left;
  width:31.1828%;
  margin-right:3.2258%;
}

div.columns div.last {
  margin-right:0;
}

div.columns.image-anchor {
  position:relative;
}
div.columns.image-anchor div.image p {
  position:absolute;
  bottom:0;
  margin:0;	
  line-height:0;
}
div.columns.image-anchor div.image p img {
  width:90%;
}

div.columns-split div.column {
  width:48.3871%;
}
div.columns-left_bias div.first {
  width:65.5914%;
  min-height:10px;
}
div.columns-left_bias.image-anchor div.image p img {
  width:60%;
}
div.columns-left_bias.image-anchor div.image.web p img {
  width:80%;
}

div.columns-right_bias div.last {
  width:65.5914%;
  min-height:10px;
}


/* Jobs */

div#block-system-main div#node-7 div.field-name-body p.intro {
  line-height: 54px;
  font-size: 48px;
}

body.node-type-job h1#page-title {
  line-height:54px;
  font-size:48px;
  font-weight:bold;
  color:#383c4d;
}

div#block-views-jobs-block div.views-row {
  float:left;
  width:42.38%;
  min-height:341px;
  margin:0 3.2258% 3.2258% 0;
  padding:2%;
  background:#eef0f8;
  float:left;
}
div#block-views-jobs-block div.views-row-even {
  margin-right:0;
}
div#block-views-jobs-block div.views-row div.views-field,
div#block-views-jobs-summary div.views-row div.views-field {
  margin:5px 0;
}
div#block-views-jobs-block div.views-row div.views-field-title a {
  margin-bottom:15px;
  line-height:38px;
  font-size:32px;
  font-weight:normal;
  font-family:'lobster','Times New Roman',Times,serif;
  color:#4a8cc7;
}
div#block-views-jobs-block div.views-row div.views-field-title a:hover {
  color:#df5289;
}

div#block-views-jobs-block div.views-row div.views-field span.views-label {
  float:left;
  margin-right:10px;
}
div#block-views-jobs-block div.views-row div.views-field-field-contract-type,
div#block-views-jobs-block div.views-row div.views-field-field-salary {
  color:#eb6c9a;
}

div#block-views-jobs-block div.views-row div.views-field div.field-content {
  display:inline-block;
  zoom:1;
  *display:inline;
}

div#block-views-jobs-summary div.view-jobs div.views-row {
  margin:0;
  padding:20px;
  background:#eb6b9a;
  color:#fff;
}
div#block-views-jobs-summary div.view-jobs div.views-row span {
  display:block;
  padding:5px 0;
}


form#webform-client-form-33 {
  padding:3.0303%;
  background:#f0f0f0;
}

/* Meet the team */

.profile .user-picture {
  margin:0 0 3% 3%;
}

div#block-views-meet_the_team-block {
  float:left;
}
div#block-views-meet_the_team-block div.views-row {
  float:left;
  margin:0 3.2255% 20px 0;
  width:31.1794%;
}
div#block-views-meet_the_team-block div.views-row-3,
div#block-views-meet_the_team-block div.views-row-6,
div#block-views-meet_the_team-block div.views-row-9,
div#block-views-meet_the_team-block div.views-row-12 {
  margin-right:0px;
}
div#block-views-meet_the_team-block div.views-row h3 {
  font-family:'lobster','Times New Roman',Times,serif;
  font-weight:normal;
  font-size:42px;
  text-align:center;
  line-height:50px;
  -webkit-transition:all 250ms ease-in-out;
  -moz-transition:all 250ms ease-in-out;
  -ms-transition:all 250ms ease-in-out;
  -o-transition:all 250ms ease-in-out;
  transition:all 250ms ease-in-out;
}
div#block-views-meet_the_team-block div.views-row div.views-field-field-job-tile {
  text-align:center;
}
div#block-views-meet_the_team-block div.views-row div.box {
  padding:20px;
}
div#block-views-meet_the_team-block div.views-row div.box span {
  display:block;
}
div#block-views-meet_the_team-block div.views-row div.box span.picture {
  padding:0 0 10px 0;
}

div#block-views-meet_the_team-block div.views-row div.box ul.social {
  margin:10px auto 0 auto;
}
div#block-views-meet_the_team-block div.views-row div.box ul.social li {
  list-style:none;
  display:inline-block;
  zoom:1;
  *display:inline;
}
div#block-views-meet_the_team-block div.views-row div.box ul.social li a {
  width:35px;
  height:35px;
  float:left;
  background:#ccc;
  -webkit-border-radius:18px;
  -moz-border-radius:18px;
  border-radius:18px;
  -webkit-transition:background 200ms ease-in-out;
  -moz-transition:background 200ms ease-in-out;
  -ms-transition:background 200ms ease-in-out;
  -o-transition:background 200ms ease-in-out;
  transition:background 200ms ease-in-out;
}
div#block-views-meet_the_team-block div.views-row div.box ul.social li a:hover {
  background-color:#383c4e;
}
div#block-views-meet_the_team-block div.views-row div.box ul.social li.read-more a {
  width:auto;
  padding:0 10px;
  font-size:14px;
  line-height:34px;
  color:#ccc;
  background:none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;  
}
div#block-views-meet_the_team-block div.views-row div.box ul.social li.read-more a:hover {
  color:#383c4e;
  background-color:none;
}

/* User page */

body.page-user h1#page-title {
  font-size:54px;
  line-height:58px;	
}
body.page-user div.field-name-field-job-tile {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

/* Aside */

div#aside {
  min-height:40px;
}

div#aside div.region-aside {
  width:210px;
  -webkit-transition:all 200ms ease-in-out;
  -moz-transition:all 200ms ease-in-out;
  -ms-transition:all 200ms ease-in-out;
  -o-transition:all 200ms ease-in-out;
  transition:all 200ms ease-in-out;
}

div#aside div.block {
  margin:0 0 30px 0;
  padding:0 15px 15px 15px;
  background:#f3f3f3;
}

div#aside div.block h2 {
  position:relative;
  top:-15px;
  margin:0;
  padding:0;
  line-height:30px;
  font-size:24px;
  font-family:'lobster','Times New Roman',Times,serif;
  font-weight:normal;
  text-align:center;
  color:#383c4e;
  background:url('../images/icon-aside-block-x1.png') no-repeat top center;
}
div#aside div.block h2 span {
  display:block;
  padding:35px 0 0 0;
}

div#aside div.block-views,
div#aside div.block-tagadelic {
  margin-bottom:20px;
  padding-bottom:2px;
}

div#block-search-form form.search-form {
  margin-bottom:0;
}
div#block-search-form form.search-form input[type="submit"] {
  margin-top:10px;
  width:23px;
  height:23px;
  text-indent:-999em;
}
div#block-search-form form.search-form div.form-item:after {
  content:none;
  clear:none;
}

div#block-views-about_the_author-block div.views-row div.views-field {
  padding:5px 0;
}
div#block-views-about_the_author-block div.views-row div.views-field-field-square-pic {
  text-align:center;
}
div#block-views-about_the_author-block div.views-row div.views-field-name {
  padding:10px 0;
  font-weight:normal;
  font-size:22px;
  line-height:24px;
  font-family:'lobster','Times New Roman',Times,serif;
}
div#block-views-about_the_author-block div.views-row div.views-field-picture a {
  display:block;
}
div#block-views-about_the_author-block div.views-row div.views-field-picture a img { 
  width:100%;
}
div#block-views-about_the_author-block div.views-row div.views-field-field-deck {
  font-size:14px;
  line-height:20px;
}

/* Sticky Aside Blocks */

body.node-type-job div#aside div#block-block-1,
body.node-type-blog-post div#block-views-about_the_author-block,
div#aside div#block-views-blog-block_2 {
  position:fixed;
  width:190px;
  margin:0 3.0303% 0 0;
}

/* Most popular */

div#block-views-blog-block_2 div.views-row div h3 {
  font-size:16px;
  line-height:20px;
}
div#block-views-blog-block_2 div.views-row div.views-field-field-featured-image {
  width:25%;
  padding:0 5% 5% 0;
  float:left;
}

div#aside div.view-signposts {
  margin-bottom:0;
  padding-bottom:0;
}
div#aside div.view-signposts div.views-row {
  margin:0 0 20px 0;
}
div#aside div.view-signposts div.views-row-last {
  margin-bottom:0;
}

/* Blog Landing */

body.page-node-5 div#footer,
body.page-node-5 div#trailer {
  display:none;
}

/* Primary */

div#block-views-blog-primary div.views-row {
}
div#block-views-blog-primary div.views-row h2 {
  margin:0 0 20px 0;
}
div#block-views-blog-primary div.views-row div.views-field {
  margin:0 0 10px 0;
}
div#block-views-blog-primary div.views-row div.views-field-created {
  color:#ccc;
  padding:0 0 30px 0;
}
div#block-views-blog-primary div.views-row div.views-field-field-square-pic {
  float:right;
  margin:0 0 20px 20px;
  width:80px;
}

/* Secondary */

div#block-views-blog-secondary,
div#block-views-blog-tertiary {
}
div#block-views-blog-secondary:after,
div#block-views-blog-tertiary:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div#block-views-blog-secondary div.views-row {
  float:left;
  width:47.5%;
}
div#block-views-blog-secondary div.views-row-odd {
  padding-right:5%;
}

div#block-views-blog-secondary div.views-field-field-square-pic {
  float:right;
  width:60px;
  padding:0 0 20px 20px;
}
div#block-views-blog-secondary div.views-row h2 {
  font-size:20px;
  line-height:24px;
  font-weight:600;
}

div#block-views-blog-secondary div.views-field-name {
  color:#ccc;
  padding:10px 0 20px 0;
}

/* The rest */

div#block-views-blog-main div.views-field-field-featured-image {
  float:left;
  padding:0 20px 20px 0;
}
div#block-views-blog-main div.views-field-field-square-pic {
  float:right;
  padding:0 0 20px 20px;
  width:60px;
}
div#block-views-blog-main div.views-row div h2 {
  font-size:20px;
  line-height:24px;
  font-weight:600;
}

div.block-views div.view-blog div.views-row {
  padding-bottom:10px;
  margin-bottom:20px;
}

/* Blog Post */

body.node-type-blog-post div#content h1#page-title {
  font-family:'Raleway', Arial, sans-serif;
  color:#34374a;
}
body.node-type-blog-post div#content div.byline {
  padding:0 0 20px 0;
  margin:0 0 20px 0;
  color:#ccc;
  border-bottom:1px solid #dedfe9;	
}

body.node-type-blog-post div.field-name-field-featured-image {
  float:right;
  margin:0 0 20px 20px;
}

body.node-type-blog-post div#block-system-main div.content a {
  /*word-break:break-all;
  word-wrap:break-word;*/
}

/*div#disqus_thread {
  margin:30px 0 0 0;
}*/

/* Blog CTA's */

div.breakout-cta a {
  color:#fff;
  display:block;
  padding:5%;
  margin:30px 0;
  font-size:24px;
  line-height:28px;
  background:url('../images/icon-signpost-arrow-white-right-x1.png') no-repeat 95% center;
}

div.breakout-cta.pink a {background-color:#eb6c9a;}
div.breakout-cta.blue a {background-color:#599dd2;}
div.breakout-cta.grey a {background-color:#383c4d;}

div.breakout-cta a:hover {
  opacity:0.8;
}

div.breakout-cta span.title {
  display:block;
  padding:0 70px 0 110px;
  display:block;
  min-height:75px;
  background:url('../images/icon-blog-cta-x1.png') no-repeat left center;
}
div.breakout-cta span.title.no-image {
  padding-left:0;
  background-image:none;
}

/*div.breakout-cta.branding span.title {
  display:block;
  background:url('../images/icon-blog-cta-x1.png') no-repeat left center;
}
div.breakout-cta.seo span.title {
  display:block;
  background:url('../images/icon-blog-cta-x1.png') no-repeat left center;
}
*/


/* Recommended Content */

div#block-views-recommended_content_temp_-block div.views-row {
  float: left;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 3.2255%;
  margin-top: 0;
  width: 31.1794%;
}
div#block-views-recommended_content_temp_-block div.views-row-last {
  margin-right:0;
}
div#block-views-recommended_content_temp_-block div.views-row div.views-field {
  margin:0 0 10px 0;
}
div#block-views-recommended_content_temp_-block div.views-row div.views-field-field-featured-image {
  text-align:center;
}

/* Tweet box */

div#tweet {
  margin:4%;
  padding:3%;
  clear:both;
  border:1px solid #ccc;
  -webkit-box-shadow:0 3px 0 0 #aaa;
  -moz-box-shadow:0 3px 0 0 #aaa;
  box-shadow:0 3px 0 0 #aaa;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
div#tweet span {
  display:block;
}
div#tweet span.text {
  font-weight:normal;
  font-size:20px;
  line-height:24px;
  color:#000;
}
div#tweet span.button {
  float:right;
  margin-top:20px;
}

/* Mail chimp */

div#mc_embed_signup {
  margin:0!important;
  width:auto!important;
  background:#383c4d;
}
div#mc_embed_signup div.mc-field-group {
  width:100%;
  padding:0;
}
div#mc_embed_signup form.validate {
  padding:3%;
}
div#mc_embed_signup div.mc-field-group label,
div#mc_embed_signup div.indicates-required {
  color:#fff;
}
div#mc_embed_signup div.indicates-required {
  text-align:left;
  margin:10px 0 0 0;
}
div#mc_embed_signup div.indicates-required span.asterisk {
  color:#d44937;
}

div#mc_embed_signup input {
  padding:10px!important;
  font-size:16px!important;
  line-height:20px!important;
  margin:0;
}
div#mc_embed_signup input[type="email"] {
  float:left;	
  width:50%;
}
div#mc_embed_signup input.button {
  height:auto;
  width:auto;
  display:inline-block;
  line-height:auto;
  margin:1px 1px 1px 10px;
  background:#599dd2;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
div#mc_embed_signup input.button:hover {
  background-color:#df5289;
}

div#mc_embed_signup div.mc-field-group span.asterisk {
  position:inherit;
}
div#mc_embed_signup div.mce_inline_error {
  position:absolute;
  bottom:-40px;
  left:0;
  margin:0;
}

/* Callback block */

div#block-block-13 form {
  padding:3.0303%;
  background:#f0f0f0;
}
div#block-block-13 form div.form-item {
  float:left;
  width:45%;
  padding:0 2.5% 10px 2.5%;
  margin:0;
}
div#block-block-13 form div#webform-component-message {
  width:96.45%;
}
div#block-block-13 form div.form-item input {
  width:100%;
}
div#block-block-13 form div.form-item label {
  display:none;
}
div#block-block-13 form div.form-actions {
  float:left;
  padding:0 2.5%;
  margin:0;
}

/* Contact */

div#block-views-banner-block div.view-banner div.title {
  font-family:'lobster','Times New Roman',Times,serif;
  margin:0 0 15px 0;
  line-height:40px;
  font-size:34px;
  font-weight:700;
  color:#383c4d;
}
div#block-views-banner-block div.view-banner div.telephone {
  margin:0 0 15px 0;
  line-height:68px;
  font-size:60px;
  font-weight:bold;
  color:#eb6C9a;
}

div#contact-page form.contact-form {
  padding:3.0303%;
  margin:0 0 3.0303% 0;
  background:#e3e5ed;
  border:1px solid #43485c;
}
div#contact-page form.contact-form label {
  display:none;
}
div#contact-page form.contact-form div.col {
  float:left;
  width:35%;
  margin-right:3.2255%;
}
div#contact-page form.contact-form div.col-textarea {
  width:45%;
}
div#contact-page form.contact-form div.col-last {
  margin-right:0;
  width:12%;
}
div#contact-page form.contact-form div.col div.form-item {
  margin:0;
}
div#contact-page form.contact-form div.col div.form-item input {
  width:100%;
}

div#contact-page form.contact-form div.form-item-name input,
div#contact-page form.contact-form div.form-item-email {
  margin:0 0 10px 0;
}

div#contact-page form.contact-form div.form-item-textarea textarea {min-height:104px}
div#contact-page form.contact-form div.form-actions {margin:0;}

div#contact-page div.google-map {
  position:relative;
  margin:0 0 30px 0;
}
div#contact-page div.google-map iframe {
  border:1px solid #000;
}
div#contact-page div.google-map div.office {
  position:absolute;
  top:50px;
  left:60px;
}
div#contact-page div.google-map div.office div.box {
  margin:0 0 10px 0;
  font-size:12px;
  background:#fff;
  -webkit-box-shadow:0 0 1px 1px #999;
  -moz-box-shadow:0 0 1px 1px #999;
  box-shadow:0 0 1px 1px #999;
}
div#contact-page div.google-map div.office div.box span.icon {
  float:left;
  display:block;
}
div#contact-page div.google-map div.office div.box span.content {
  float:right;
  margin:0 0 0 5%;
  width:75%
}

div#contact-page div.google-map div.office div.box.directions a {
  display:block;
  padding:10px 0 10px 40px;
  background:url('../images/icon-contact-directions-x1.png') no-repeat 5px center;
}
div#contact-page div.google-map div.office div.box.public a {
  display:block;
  padding:10px 0 10px 40px;
  background:url('../images/icon-contact-public-x1.png') no-repeat 5px center;
}
div#contact-page div.google-map div.office div.box.directions a:hover,
div#contact-page div.google-map div.office div.box.public a:hover {
  color:#df5289;
}

/* Taxonomy */

body.page-taxonomy-term div#content h3 {
  margin:18px 0 12px 0;
  padding:1% 2%;
  background:#f2f2f2;
}
body.page-taxonomy-term div#content div.views-row h3 {
  margin:0 0 6px 0;
  padding:0;
  background:transparent;
}
body.page-taxonomy-term div#content img {
  max-width:30%;
}

/* Search */

body.search-page form.search-form {
}
form.search-form div#edit-basic {
  border-bottom:1px solid #e5e5e5;
  padding:0 0 3.0303% 0;
}
form.search-form div#edit-basic input.form-text {
  padding:10px 3px;
}
form.search-form div#edit-basic div.form-item:after {
   clear:none;
   content:none;
}